{
    "env": {
        "react-native/react-native": true,
        "node": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "plugins": [
        "react",
        "react-native",
        "react-hooks",
        "@typescript-eslint"
    ],
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "rules": {
        "no-undef": "off",
        "key-spacing": "warn",
        "keyword-spacing": "warn",
        "indent": [
            "warn",
            4,
            {
                "SwitchCase": 1
            }
        ],
        "no-trailing-spaces": "warn",
        "no-multi-spaces": "warn",
        "space-unary-ops": "warn",
        "no-multiple-empty-lines": "warn",
        "object-curly-spacing": [
            "warn",
            "always"
        ],
        "space-before-blocks": "warn",
        "array-bracket-spacing": [
            "warn",
            "always"
        ],
        "comma-spacing": "warn",
        "space-in-parens": "warn",
        "eol-last": "warn",
        "semi": [
            2,
            "never"
        ],
        "brace-style": [
            "warn",
            "stroustrup"
        ],
        "no-console": [
            "warn"
        ],
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": "warn",
        "comma-dangle": [
            "warn",
            "always-multiline"
        ],
        "no-control-regex": 0,
        "@typescript-eslint/member-delimiter-style": [
            "warn",
            {
                "multiline": {
                    "delimiter": "none"
                },
                "singleline": {
                    "delimiter": "comma",
                    "requireLast": false // true
                }
            }
        ],
        "@typescript-eslint/ban-types": "off",
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "@typescript-eslint/ban-ts-ignore": "off",
        "import/no-unresolved": "off",
        "import/no-default-export": "off",
        "import-order-alphabetical/order": "off",
        "no-shadow": "off",
        "react-native-a11y/has-accessibility-props": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "react/prop-types": "off",
        // React Hooks
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn"
    }
}